* {
    margin: 0 auto;
    padding: 0;
}

.conteiner {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.conteiner > * {
    margin-top: 20px;
    margin-bottom: 20px;
}

.headerPage {
    width: 1366px;
    height: 768px;

    border: 5px solid #A50A0A;
    box-sizing: border-box;
}

.topLine {
    width: 1140px;
    height: 55px;

    border: 3px solid #05944F;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 1140px;
    height: 759px;

    border: 4px solid #7E37F1;
}

.title {

    border: 3px solid #13CDD9;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.mainAreaTop {
    width: 1140px;
    height: 648px;

    border: 4px solid #7E37F1;
    box-sizing: border-box;
}

.titlesBloc {
    width: 1138px;
    height: 528px;

    border: 3px solid #058228;
    box-sizing: border-box;
    display: flex;
}

.TitleTileBox{

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    /* or 128% */
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;

    margin: 20px;
}

.leftTileBox{
    width: 359px;
    height: 480px;

    border: 3px solid #D019BE;
    box-sizing: border-box;
}

.leftTileBox > img, .centerTileBox > img, .rightTileBox > img {
    width: 100%;
    height: 100%;
    object-fit: none;
}

.centerTileBox {
    width: 358px;
    height: 480.03px;

    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.rightTileBox {
    width: 359px;
    height: 480px;

    background: #FFFFFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.smartHomeBloc {
    width: 1140px;
    height: 480px;

    background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
}

.mobileAndCarRepetishionBlocs {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.mobile {
    width: 554px;
    height: 417px;

    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
    border-radius: 10px;
}

.CarRepetishion {
    width: 554px;
    height: 417px;

    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
    border-radius: 10px;
}

.footer {
    width: 1366px;
    /* height: 657px; */

    /* blue_02 */
    background: #316099;
    border: 6px solid #DD2121;
    box-sizing: border-box;
}

.footer > * {
    margin-bottom: 20px;
    margin-top: 20px;
}

.topMainBloc {
    width: 1140px;
    /* height: 383px; */
    
    border: 5px solid #F5F8D4;
    box-sizing: border-box;
}

.bottomMainBloc {
    width: 1139px;
    /* height: 253px; */

    border: 4px solid #CAFFBD;
    box-sizing: border-box;
}

.list {
    display: flex;
    justify-content: space-around;
}

.imgTit {
    width: 553.68px;
    height: 481.39px;
}

.referenses {
    font-size: large;
}

.list > li {
    font-size: medium;
    color: white;
    width: 200px;
    text-align: center;
}